# Optional Server Environment Variables
PORT=5000
NODE_ENV=production

# Database Connection (Defaults to local SQLite file:./dev.db)
DATABASE_URL="file:./dev.db"

# Optional pre-configured secrets (Can also be set in Settings page on Dashboard UI)
# GITHUB_TOKEN="ghp_xxxxxxxxxxxxxxxxxxxx"
# AI_API_KEY="AIzaSyxxxxxxxxxxxxxxxxxxxx"
